<div class="container">
  <div class="row">
    <%= render 'layouts/header' %>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= attachment_image_tag(@end_user, :profile_image, size: '60x60', fallback: "no-image-icon.jpg") %>
    </div>
    <div class="col-sm-5">
      <%= @end_user.name %><br />
      <% if current_end_user %>
        <%= link_to "Create Blog", new_blog_path, class: "btn btn-sm btn-success" %>
        <%= link_to "Edit", edit_end_user_path(current_end_user), class: "btn btn-sm btn-primary" %>
        <%= link_to "Withdraw", unsubscribe_end_users_path, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <%= @end_user.introduction %>
    </div>
  </div>
  <div class="row">
    <%= render 'layouts/footer' %>
  </div>
</div>