<!-- エンドユーザー側のマイページ / ユーザー詳細ページ -->
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="info-item icon-image">
        <%= attachment_image_tag(@end_user, :profile_image, size: '150x150', fallback: "no-image-icon.jpg") %>
      </div>
      <div class="info-item pl-5">
        <h3 class="mt-1"><%= @end_user.name %></h3><br />
        <h5>Follows : <%= link_to @end_user.followings.count, follows_end_user_path %>&emsp;Followers : <%= link_to @end_user.followers.count, followers_end_user_path %></h5><br />
        <% if @end_user == current_end_user %>
          <%= link_to "Create Blog", new_blog_path, class: "btn btn-md btn-success" %>
          <%= link_to "Edit", edit_end_user_path(current_end_user), class: "btn btn-md btn-primary" %>
          <%= link_to "Withdraw", unsubscribe_end_users_path, class: "btn btn-md btn-danger" %>
        <% else %>
          <% if @end_user.followed_by?(current_end_user) %>
            <%= link_to "unfollow", end_user_relationships_path(@end_user.id), method: :delete, class: "btn btn-sm btn-primary" %>
          <% else %>
            <%= link_to "follow", end_user_relationships_path(@end_user.id), method: :post, class: "btn btn-sm btn-outline-primary" %>
          <% end %>
        <% end %>
      </div>
      <div class="mt-0 mb-5">
        <h4>FOOTBALL for Me</h4>
        <h5><%= @end_user.introduction %></h5>
      </div>
      <div>
        <%= render 'render/tab', end_user: @end_user %>
      </div>
    </div>
    <div class="col-sm-3">
      <%= render 'render/sidebar', end_user: @current_end_user, tags: @tags %>
    </div>
  </div>
</div>