<!-- エンドユーザー側のマイページ / ユーザー詳細ページ -->
<div class="container">
  <div class="row">
    <%= render 'layouts/header' %>
  </div>
  <div class="row">
    <div class="col-sm-3 text-center">
      <%= attachment_image_tag(@end_user, :profile_image, size: '150x150', fallback: "no-image-icon.jpg") %>
    </div>
    <div class="col-sm-5">
      <h3><%= @end_user.name %></h3><br />
      <h5>Follows : <%= link_to @end_user.followings.count, follows_end_user_path %>&emsp;Followers : <%= link_to @end_user.followers.count, followers_end_user_path %></h5><br />
      <% if @end_user == current_end_user %>
        <%= link_to "Create Blog", new_blog_path, class: "btn btn-sm btn-success" %>
        <%= link_to "Edit", edit_end_user_path(current_end_user), class: "btn btn-sm btn-primary" %>
        <%= link_to "Withdraw", unsubscribe_end_users_path, class: "btn btn-sm btn-danger" %>
      <% else %>
        <% if @end_user.followed_by?(current_end_user) %>
          <%= link_to "unfollow", end_user_relationships_path(@end_user.id), method: :delete, class: "btn btn-sm btn-primary" %>
        <% else %>
          <%= link_to "follow", end_user_relationships_path(@end_user.id), method: :post, class: "btn btn-sm btn-outline-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4>FOOTBALL for Me</h4>
      <%= @end_user.introduction %>
    </div>
  </div>
  <div class="col-sm-8">
    <!-- render 'render/tab', end_user: @end_user, likes: @likes -->
  </div>
  <div class="row">
    <%= render 'layouts/footer' %>
  </div>
</div>