<div class="container">
  <div class="row">
    <%= render 'layouts/header' %>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h3>List of Blogs</h3>
      <table class="table table-hover table-bordered">
        <tbody>
          <% @blogs.each do |blog| %>
          <tr>
            <td class="text-center"><%= attachment_image_tag(blog, :blog_image, size: "100x50", fallback: "no-image-mini.jpg") %></td>
            <td>
              <%= link_to blog_path(blog) do %>
                <%= blog.title %>
              <% end %>
              <br />
              <%= link_to end_user_path(blog.end_user) do %>
                <%= blog.end_user.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <%= render 'layouts/footer' %>
  </div>
</div>