<!-- エンドユーザー側の投稿詳細ページ -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center mb-4">
        <%= attachment_image_tag(@blog, :blog_image, :fill, 1200, 600) %>
      </div>
      <h3><%= @blog.title %>&ensp;(<%= @blog.created_at.strftime('%Y/%m/%d') %>)</h3>
      <h4>
        <%= link_to end_user_path(@blog.end_user),data: {"turbolinks"=>false} do %>
          <%= @blog.end_user.name %>
        <% end %>
        <% if @blog.end_user == current_end_user %>
          <%= link_to "Edit", edit_blog_path(@blog), class: "btn btn-sm btn-primary ml-3" %>
          <%= link_to "Delete", blog_path(@blog), method: :delete, data: { confirm: '投稿を削除してよろしいでしょうか？'}, class: "btn btn-sm btn-danger" %>
        <% end %>
      </h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-8">
      <%= @blog.body %>
      <br />
      <div class="text-right mt-4">
        <div class="blog-item mr-2">
          <% @blog_tags.each do |tag| %>
            <%= link_to tag_search_path(tag) do %>
              <%= tag.tag_name %>
            <% end %>
          <% end %>
        </div>
        <div class="blog-item like_<%= @blog.id %> mr-2">
          <%= render 'render/like', blog: @blog %>
        </div>
        <div class="blog-item bookmark_<%= @blog.id %>">
          <%= render 'render/bookmark', blog: @blog %>
        </div>
      </div>
    </div>
    <div class="col-sm-3 offset-sm-1">
      <%= render 'render/sidebar', end_user: @end_user, tags: @tags %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 comment_counts">
      <h5>Comments(<%= @blog.comments.count %>)</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 comment_index">
      <%= render 'render/comment', blog: @blog %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <%= form_with(model:[@blog, @comment], remote: true) do |f| %>
        <%= f.text_area :comment, size:"75x3" %><br />
        <%= f.submit "Send", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>
