<div class="jumbotron">
  <div class="container">
    <div class="row pb-5">
      <div class="col-sm-12">
        <%= link_to "HOME", root_path %>
        <%= link_to "ABOUT", about_path %>
        <%= link_to "SIGN UP", new_end_user_registration_path %>
        <%= link_to "SIGN IN", new_end_user_session_path %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="pege-heading">About Me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <p class="about-introduction">サッカーをこよなく愛する人々へ</p>
      </div>
      <div class="col-sm-6 text-center">
        <p class="about-introduction">ここにテキストを書く</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <%= link_to "Back", root_path, class: "link" %>
      </div>
    </div>
  </div>
</div>