<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= link_to "HOME", root_path %>
      <%= link_to "ABOUT", about_path %>
      <%= link_to "SIGN UP", new_end_user_registration_path %>
      <%= link_to "SIGN IN", new_end_user_session_path %>
    </div>
  </div>
  <div class="row">
    <h1>About Me</h1>
  </div>
  <div class="row">
    <%= link_to "Back", root_path, class: "btn btn-link" %>
  </div>
</div>