<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "HOME", root_path %>
      <%= link_to "ABOUT", about_path %>
      <%= link_to "SIGN UP", new_end_user_registration_path %>
      <%= link_to "SIGN IN", new_end_user_session_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>What is FOOTBALL to YOU?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h5>
        If you are a soccer fan, have you ever thought about this question?<br />
        If you can't find the answer to this question, it's okay.<br />
        We'll be there for you until you find the answer.
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <%= link_to "SIGN UP", new_end_user_registration_path, class: "btn btn-md btn-secondary" %>
    </div>
  </div>
</div>