<ul class="tab-list">
  <li class="tab box-active">My Blogs</li>
  <li class="tab">Liked Blogs</li>
  <li class="tab">Bookmark</li>
</ul>
<div class="tabbox-contents">
  <div class="tabbox box-show">
    <table class="table table-hover table-border">
      <tbody>
        <% end_user.blogs.each do |blog| %>
          <tr>
            <td class="text-center"><%= attachment_image_tag(blog, :blog_image, size: "100x50", fallback: "no-image-mini.jpg") %></td>
            <td>
              <%= link_to blog_path(blog) do %>
                <%= blog.title %>
              <% end %>
              <br />
              <%= link_to end_user_path(blog.end_user) do %>
                <%= blog.end_user.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tabbox">
    <table class="table table-hover">
      <% if end_user.likes.exists? %>
        <tbody>
          <% end_user.likes.each do |like| %>
            <tr>
              <td><%= attachment_image_tag(like.blog, :blog_image, size: "100x50", fallback: "no-image-mini.jpg") %></td>
              <td>
                <%= link_to blog_path(like.blog) do %>
                  <%= like.blog.title %>
                <% end %>
                <br />
                <%= link_to end_user_path(like.blog.end_user) do %>
                  <%= like.blog.end_user.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <p>No Likes.</p>
        <% end %>
        </tbody>
    </table>
  </div>
  <div class="tabbox">
    <table class="table table-hover table-border">
      <% if end_user.bookmarks.exists? %>
        <tbody>
          <% end_user.bookmarks.each do |bookmark| %>
            <tr>
              <td><%= attachment_image_tag(bookmark.blog, :blog_image, size: "100x50", fallback: "no-image-mini.jpg") %></td>
              <td>
                <%= link_to blog_path(bookmark.blog) do %>
                  <%= bookmark.blog.title %>
                <% end %>
                <br />
                <%= link_to end_user_path(bookmark.blog.end_user) do %>
                  <%= bookmark.blog.end_user.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <p>No Bookmarks.</p>
        <% end %>
        </tbody>
    </table>
  </div>
</div>