<div class="jumbotron">
  <div class="container">
    <div class="row pb-5">
      <div class="col-sm-12">
        <%= render 'render/frontmenu' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="pege-heading">User SignUp</h1>
      </div>
    </div>

    <%= form_with model: @end_user, url: end_user_registration_path, local: true do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="row field">
        <div class="col-sm-6 field text-center">
          <%= f.label :name, class: "form-item" %>
        </div>
        <div class="col-sm-6 field text-center">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "mb-3" %>
        </div>
      </div>

      <div class="row field">
        <div class="col-sm-6 text-center">
          <%= f.label :email, class: "form-item" %>
        </div>
        <div class="col-sm-6 text-center">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-3"  %>
        </div>
      </div>

      <div class="row field">
        <div class="col-sm-6 text-center">
          <%= f.label :password, class: "form-item" %>
            <% if @minimum_password_length %>
              <em class="form-item mr-5">(<%= @minimum_password_length %>文字以上)</em>
            <% end %>
        </div>
        <div class="col-sm-6 text-center">
          <%= f.password_field :password, autocomplete: "new-password", class: "mb-3"  %>
        </div>
      </div>

      <div class="row field">
        <div class="col-sm-6 text-center">
          <%= f.label :password_confirmation, class: "form-item" %>
        </div>
        <div class="col-sm-6 text-center">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mb-2"  %>
        </div>
      </div>

      <div class="row actions">
        <div class="col-sm-12 text-center">
          <%= f.submit "Sign up", class: "btn btn-lg btn-success mt-2" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-12 text-center mt-1">
        <%= link_to "Back", root_path, class: "link" %>
      </div>
    </div>
  </div>
</div>