
<div class="container">
  <% if @records.exists? %>
    <% if @model == "end_user" %>
      <div class="row">
        <div class="col-sm-8">
          <h3>Users search for '<%= @content %> '</h3>
          <%= render 'render/end_user_index', end_users: @records %>
        </div>
        <div class="col-sm-3">
          <%= render 'render/sidebar', end_user: @end_user, tags: @tags %>
        </div>
      </div>

    <% elsif @model == "blog" %>
      <div class="row">
        <div class="col-sm-8">
          <h3>Blogs search for "<%= @content %>"</h3>
          <%= render 'render/blogs_index', blogs: @records %>
        </div>
        <div class="col-sm-3">
          <%= render 'render/sidebar', end_user: @end_user, tags: @tags %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-sm-8">
        <h3>Users search for '<%= @content %> '</h3>
        <h4 class="text-center mt-5">There is no applicable content.</h4>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <%= render 'render/sidebar', end_user: @end_user, tags: @tags %>
      </div>
    </div>
  <% end %>
</div>