<!DOCTYPE html>
<html>
  <head>
    <title>What is FOOTBALL to YOU?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if admin_signed_in? %>
      <%= render 'layouts/header' %>
      <div class="notice ml-5 mb-5"><%= notice %></div>
    <% elsif end_user_signed_in?%>
      <%= render 'layouts/header' %>
      <div class="notice ml-5 mb-5"><%= notice %></div>
    <% end %>



    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
